.scrollTop {
    position: fixed;
    width: 150px;
    bottom: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    right: 30px;
    height: 100px;
}

.scrollTop:hover{
    opacity: 1;
}
