.federation-competition-program__item-wrapper{
    border: 1px solid #ED2840;
    padding: 10px 16px 15px 16px;
    max-width: 400px;
}

.federation-competition-program__item-header-wrapper{
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    max-width: 358px;
    margin-bottom: 15px;
}

.federation-competition-program__item-header{
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
}

.federation-competition-program__item-desc-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}

.federation-competition-program__item-desc-label{
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.federation-competition-program__item-desc-item{
    max-width: 154px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.federation-competition-program__item-registration-info{
    font-family: Oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    margin: 0;
}

