.federation-in-kg__wrapper{
    margin: 0 auto;
    max-width: 1280px;
}

.federation-in-kg__header{
    font-family: Oswald;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #ED2840;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.federation-in-kg__desc-wrapper{
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 100px;
}

.federation-in-kg__mail{
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #ED2840;
}

