.header-white__wrapper{
    background: #FFFFFF;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: normal;
    border-bottom: 2px solid #02071214;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}


.header-white-logo__wrapper{
    border-right: 1px solid #02071214;
    padding: 14px 100px;
}

.header-white-nav-links__wrapper{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.header-white-nav-links__empty{
    padding-bottom: 40px;
    border-bottom: 1px solid #02071214;
}

.header-white-nav-links__links-wrapper{
    display: flex;
    padding-left: 55px;
    justify-content: normal;
    align-items: center;
}


.header-white-nav-links__links-side{
    display: flex;
    justify-content: space-between;
}

.header-white-nav-links__link:hover{
    color: #ED2840;
    border-bottom: 4px solid #ED2840;
}



.header-white-nav-links__link{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    border-bottom: 4px solid transparent;

}


.header-white-nav-links__icon-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 125px;
    gap: 30px;
}

.active{
    color: #ED2840;
    border-bottom: 4px solid #ED2840;
}