.federations-sport__wrapper:hover,
.federations-sport__wrapper{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    text-decoration: none;
    color: #020712;
}

.federations-sport__img{
    width: 100%;
    height: 184px;
}

.federations-sport__desc-wrapper{
    margin: 10px 16px 18px 16px;
}

.federations-sport__header{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #020712;
}

.federations-sport__desc{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

